<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://img.freepik.com/free-photo/business-job-interview-concept_1421-77.jpg?size=626&ext=jpg&ga=GA1.2.1034716052.1681575798&semt=sph");
    background-size: 100%;
    background-position: center;
}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
div.register{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px soid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color:#fff
}
form#register{
    margin: 40px;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
}
input#name{
    width: 300px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;

}
select{
    width: 150px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 15px;
    background-color: #fff;
}
input[type="date"]{
    width: 150px;
    height: 3px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 15px;
    background-color: #f1ecec;
    font-weight: 100;
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgba(255,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border: 1pxsolid
    rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px
    rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
label,span,h2{
    text-shadow: 1px 1px 5px
    rgba(0,0,0,0.3);
=======
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://img.freepik.com/free-photo/business-job-interview-concept_1421-77.jpg?size=626&ext=jpg&ga=GA1.2.1034716052.1681575798&semt=sph");
    background-size: 100%;
    background-position: center;
}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
div.register{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px soid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color:#fff
}
form#register{
    margin: 40px;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
}
input#name{
    width: 300px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;

}
select{
    width: 150px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 15px;
    background-color: #fff;
}
input[type="date"]{
    width: 150px;
    height: 3px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 15px;
    background-color: #f1ecec;
    font-weight: 100;
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgba(255,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border: 1pxsolid
    rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px
    rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
label,span,h2{
    text-shadow: 1px 1px 5px
    rgba(0,0,0,0.3);
>>>>>>> e226e7f (first commit)
}